/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
	/* colors */
	--clr-light: rgb(237, 75, 39);
	--clr-pale: rgb(247, 187, 174);
	--clr-white: 0 0% 100%;
	--clr-blue: #023047;
	--clr-light-blue: #8ecae6;
	--clr-rich-gray: rgb(244, 241, 241);
	--clr-rich-black: hsla(216, 100%, 4%, 1);

	/* font-sizes */
	--fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
	--fs-800: 3.5rem;
	--fs-700: 1.75rem;
	--fs-600: 1.5rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;
	--fs-300: 0.938rem;
	--fs-200: 0.875rem;

	/* font-families */
	--ff-sans-normal: "Poppins", sans-serif;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
li {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

/* set up the body */
body {
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	color: hsl(var(--clr-rich-black));
	background-color: hsl(var(--clr-white));
	line-height: 1.5;
	min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
	font: inherit;
}

ul,
li {
	text-decoration: none;
	list-style: none;
	font: inherit;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */
h2 {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 700;
	line-height: 1.25;
	padding-bottom: 1em;
}

h4 {
	font-size: var(--fs-400);
	font-weight: 600;
	margin: 2em 0;
}

h6 {
	text-transform: uppercase;
	text-align: center;
	color: var(--clr-light);
	font-weight: 700;
	font-size: var(--fs-300);
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 1.5em;
}

h8 {
	text-align: left;
	font-size: var(--fs-500);
	font-weight: 600;
	line-height: 2;
}

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.container {
	padding: 4em;
	margin: 0 auto;
	max-width: 90%;
}

/* Button style */
.btn__general {
	display: inline-block;
	cursor: pointer;
	width: 12rem;
	padding: 0.6em 1rem;
	border-radius: 2rem;
	border: none;
	background: var(--clr-rich-black);
	color: white;
	font-size: var(--fs-200);
	text-align: center;
}

.btn__schedule {
	display: inline-block;
	cursor: pointer;
	width: 12rem;
	height: 2.6rem;

	padding: 0.5em 1.5rem 0.5em 3rem;
	border-radius: 2rem;
	border: none;
	background: var(--clr-rich-black);
	color: white;
	margin-left: 1em;
	font-size: var(--fs-200);
	position: relative;
}

.btn__schedule i {
	background-color: var(--clr-light);
	display: inline-block;
	width: 2.6rem;
	height: 2.6rem;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
}

.li__email,
.li__map {
	font-size: 1em;
	color: var(--rich-gray);
}
.fa-envelope,
.fa-map {
	color: var(--clr-light);
	margin-right: 1em;
}

.subheader__container,
.main__nav {
	justify-content: space-between;
	align-items: center;
}

.subheader__container {
	display: none;
	padding: 0.625rem 0;
	border-bottom: 1px solid var(--rich-gray);
}

.social-toggle {
	cursor: pointer;
	border: 0;
	width: 2em;
	height: 2em;
	padding: 0em;
	border-radius: 50%;
	background: var(--rich-gray);
	color: white;
}

.main__nav {
	padding: 2em 0;
}

.comp-logo {
	text-transform: uppercase;
	font-size: var(--fs-700);
	letter-spacing: 2px;
	font-weight: 700;
	color: var(--clr-rich-black);
}

.home {
	color: var(--clr-light);
}

.nav__items {
	display: none;
	align-items: center;
	gap: 1.5rem;
}

section {
	margin-bottom: 5rem;
}

/* Hero section */
.hero {
	width: 100%;
	background-image: url(images/banner-01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 25% 0;
}

/* Featured section */
.featured > img {
	margin: 0 auto;
}
/* Video Section */
.video__section .image-container {
	background-image: url("images/video-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 5vh 0;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.video__section .image-container .video-frame {
	margin: 0 2em;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	position: relative;
}

.video__section .video-frame a {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-26px, -26px);
	width: 52px;
	height: 52px;
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 52px;
	color: var(--clr-light);
	outline: 15px solid rgba(234, 81, 73, 0.5);
	font-size: 18px;
}

.video__section .image-container img {
	border-radius: 10px;
}

.video__section h2 {
	color: #fff;
}

.facts__container .fact {
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	padding: 0.5rem 10px;
	background-color: var(--clr-pale);
	padding: 1.5em;
	margin-bottom: 4em;
	justify-content: center;
	position: relative;
}

.facts__container .fact span {
	font-size: var(--fs-600);
	color: #fff;
	background-color: var(--clr-light);
	width: 4rem;
	height: 4rem;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: absolute;
	left: -25px;
	bottom: 12px;
}

/* Property Section */
.property__cards .card {
	background-color: var(--clr-rich-gray);
	border-radius: 0.5em;
	padding: 2rem;
	max-width: 21.75rem;
	margin-bottom: 2em;
	flex-direction: column;
}

.card img {
	border-radius: 0.5em;
	margin-bottom: 1em;
}

.property__cards .card__header {
	justify-content: space-between;
	align-items: center;
}

.property__cards .card__flag {
	background-color: var(--clr-light);
	color: #fff;
	font-weight: 500;
	font-size: var(--fs-300);
	padding: 0.313rem 0.75rem;
}

.property__cards h6 {
	margin: 0;
}

.property__cards h4 {
	margin: 1em 0;
	font-weight: 700;
}

.property__cards .card__description {
	font-size: var(--fs-200);
	font-weight: 200;
	margin-bottom: 2em;
}

.property__cards .card__description span {
	font-size: var(--fs-200);
	font-weight: 500;
}

.property__cards .btn__schedule {
	margin: 0 auto;
}

/* Deal section */
.best__deal {
	background-color: var(--clr-rich-gray);
}
.info__table {
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	padding: 2rem;
	margin: 2rem auto;
	max-width: 363px;
}

.info__table ul {
	padding-left: 0;
}

.info__table ul li {
	margin-bottom: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid var(--clr-rich-gray);
	text-align: left;
	font-size: var(--fs-200);
	font-weight: 400;
	color: var(--clr-rich-black);
	display: flex;
	justify-content: space-between;
}

.info__table ul li:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.info__table ul li span {
	font-size: var(--fs-300);
	font-weight: 700;
	color: var(--clr-rich-black);
	margin-left: 5rem;
}

.best__deal p {
	margin: 1em 0;
	line-height: 1.5;
	color: var(--clr-rich-black);
	text-align: left;
}

.best__deal img {
	margin-bottom: 1em;
}

.best__deal button {
	margin: 2em 0;
}

.best__deal button:first-child {
	background-color: var(--clr-light);
}

/* Contact section */
section > .container {
	padding-bottom: 4rem;
}

.contact-section .image-container {
	background-image: url("images/contact-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 25vh 0;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact-section > img {
	width: 100%;
}

.contact-section .section__subhead {
	position: absolute;
	top: 0;
}

.contact-section h2 {
	font-weight: 600;
	position: absolute;
	color: #fff;
	top: 1.75em;
	padding: 0 1em;
}

.contact__content {
	margin-top: -15em;
	z-index: 100;
}

.contact__content .google-map {
	padding-bottom: 100%;
	position: relative;
	margin-bottom: 2em;
}

.contact__content .google-map iframe {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

fieldset {
	border: none;
}

.icon-container {
	margin-bottom: 2em;
	flex-direction: column;
}

.contact__content .item {
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	padding: 0.5rem 10px;
	background-color: #fff;
	align-items: center;
	justify-content: center;
}

.contact__content > img {
	width: 10%;
	height: auto;
}

.contact__content #contact-form {
	margin: 0 auto;
	border-radius: 10px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	padding: 2rem 1.875rem;
	background-color: #fff;
	flex-direction: column;
	align-items: center;
}

.contact__content #contact-form label {
	font-size: var(--fs-300);
	color: var(--rich-gray);
	margin-bottom: 1rem;
}

.contact__content #contact-form input {
	width: 100%;
	height: 2.5em;
	border-radius: 5px;
	background-color: #f6f6f6;
	border: none;
	margin-bottom: 1.875rem;
	font-size: var(--fs-300);
	padding: 0px 15px;
}

.contact__content #contact-form textarea {
	width: 100%;
	height: auto;
	max-height: 11.25rem;
	border-radius: 5px;
	background-color: #f6f6f6;
	border: none;
	margin-bottom: 2.5rem;
	font-size: var(--fs-300);
	padding: 0.938rem;
}

/* Footer section */
.footer__section {
	background-color: var(--clr-rich-black);
	text-align: center;
	color: white;
	padding: 2em;
}

.footer__section,
.comp-logo {
	color: white;
}

.footer__section > ul,
li,
p {
	color: white;
	font-size: var(--fs-200);
	line-height: 1.5;
	padding: 0;
	margin: 0;
	text-align: center;
}

.footer__section .footer-subhead {
	font-weight: 700;
}

.footer__section ul {
	margin-bottom: 1em;
}
